*{
    box-sizing: border-box;
  }
  
  body {
    padding: 0;
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
      'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
      sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }
  
  code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
      monospace;
  }
  
  @mixin flexed {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  @mixin centered {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
  }

.App {
    min-height: 100vh;
    width: 100%;
    max-width: 1500px;
    margin: 0 auto;
    padding: 0 5%;
    position: relative;

    header{
      @include flexed();
      margin-bottom: 3em;
      @media screen and (max-width:800px) {
        margin-bottom: 0;
      }
      .brand{
        position: relative;
        z-index: 1;
        @media screen and (max-width:800px) {
          font-size: 1.2em;
        }
        &::before{
          content: " ";
          position: absolute;
          height: 20%;
          width: 90%;
          border-radius: .5em;
          left: -10%;
          bottom: 10%;
          background:blanchedalmond;
          z-index: -1;
        }
      }
      section{
        flex: .13;
        z-index: 10;
        font-size: x-large;
        @include flexed();
        @media screen and (max-width:800px) {
          flex: .35;
        }
        .icon{
          cursor: pointer;
          transition: all .5s;
          color: black;
  
          &:first-child:hover{
            color: rgb(0, 78, 157);
          }
          
          &:nth-child(2):hover{
            opacity: .7;
          }
  
          &:nth-child(3):hover{
            color: rgb(255, 145, 0);
          }
        }
      }
    }
  
    .loader-container{
      @include centered();
      i{
        font-size: 7em;
        color: #1a1a1a;
        animation: spin 1s linear infinite;
      }
    }
  
    .container{
      display: grid;
      grid-template-columns: 1fr 1fr 1fr 1fr;
      grid-gap: 1em;
      overflow-y: scroll;
      height: 100%;
      padding: 2em 0;
  
      @media screen and (max-width:1400px) {
        grid-template-columns: 1fr 1fr 1fr;
      }
      
      @media screen and (max-width:1000px) {
        grid-template-columns: 1fr 1fr;
      }
  
      @media screen and (max-width:1000px) {
        grid-template-columns: 1fr;
      }
  
      &::-webkit-scrollbar{
        display: none;
      }

      .user{
        box-shadow: 2px 5px 10px rgba(0, 0, 0, 0.1);
        padding: 1em;
        padding-bottom: 2.5em;
        position: relative;
        overflow: hidden;
        border-radius: 2em;
        
        .input-field{
          display: flex;
          justify-content: flex-start;
          align-items: center;
          position: relative;
          z-index: 1;
          padding: 0;
          .icon{
            opacity: .8;
          }
          p{
            margin-left: 1em;
            opacity: .8;
            font-weight: 500;
          }
          &:last-child{
            margin-top: -1em
          }
        }

        .btn{
          @include flexed();
          background: black;
          padding: .5em 1.5em;
          position: absolute;
          bottom: 0;
          right: 0;
          border-top-left-radius: 2em;
          color: whitesmoke;
          text-transform: uppercase;
          font-size: 1em;
          font-weight: bold;
          cursor: pointer;
          &:hover{
            span{
              transform: translateX(.2em);
            }
          }
          span{
            transition: all .5s;
            margin-right: .5em;
          }
        }
        .design{
          position: absolute;
          width: 13%;
          height: 100%;
          top: 0;
          left: 0;
          z-index: 0;
          background:blanchedalmond;
          @media screen and (max-width:1400px) {
            width: 11%;
          }
          @media screen and (max-width:1000px) {
            width: 14%;
          }
        }
      }
    }
  
    .overlay{
      position: fixed;
      background: rgba(0, 0, 0, 0.4);
      width: 100%;
      height: 100vh;
      left: 0;
      top: 0;
      z-index: 5;
      overflow: hidden;
      display: none;

      .closer{
        position: absolute;
        top: 50%;
        left: 30%;
        transform: translate(-50%,-50%);
        box-shadow: 0 0 20px rgba(0, 0, 0, 0.4);
        cursor: pointer;
        padding: 10px 15px;
        font-size: 2.5em;
        border-radius: 100%;
        background:white;
        border: 1px solid lightgrey;

        @media screen and (max-width:1000px) {
          left: 8%;
          top: 10%;
        }
        @media screen and (max-width:800px) {
          left: 10%;
          top: 10%;
          font-size: 10px;
        }
      }
  
      .parent{
        height: 100%;
        width:65%;
        position: relative;
        left: 35%;
        background: white;
        animation: fromLeft .5s ease-out;
        padding: .5em 3em;
        box-shadow: 0px 0px 30px rgba(0, 0, 0, 0.5);
        padding-bottom: 2em;
        @media screen and (max-width:1000px) {
          width: 85%;
          left: 15%;
        }
        
        @media screen and (max-width:800px) {
          padding: 1em;
          left: 20%;
          width: 80%;
        }
  
        .userContent{
          justify-content: flex-start;
          @media screen and (max-width:800px) {
            margin-top: 2em;
            padding: 0;
            justify-content: center;
          }
          i{
            border-radius: 100%;
            color: whitesmoke;
            background: #555;
            padding: 15px;
          }
          div{
            padding-left: 1em;
            padding-top: 1em;
            h3{
              opacity: .8;text-transform: capitalize;
              margin: 0;

            }
            h4{
              opacity: .6;
              margin-top: -.2em;
            }
          }
        }
        
        .container{
          margin-top: 0;
          padding-bottom: 10em;
          .post{
            cursor: pointer;
            padding: 0 1em;
            border-radius: 1em;
            transition: all .5s;
            color: black;
            &:hover{
              background:blanchedalmond;
            }
            p{
              font-weight: 500;
              opacity: .8;
            }
          }
        }
      }
    }
  }
  
  @keyframes fromLeft {
    0%{
      left: 100%;
      opacity: 0;
    }
    50%{
      opacity: 0;
    }
    100%{
      left: 35%;
      opacity: 1;
    }
  }

  @keyframes spin {
    0%{
      transform: rotate(0);
    }
    100%{
      transform: rotate(360deg);
    }
  }
  